<ul class="mt-3 list-group ">
  <li th:each="comment : ${comments}" class="list-group-item px-0 py-1 border-0">
    <div class="d-flex align-items-start">
      <div class="left-div ps-0 pe-3 pt-1">
        <a href=""><img src="/assets/common/img/icon/person-bounding-box.svg" height="30" width="30"></a>
      </div>
      <div class="flex-grow-1 pt-0">
        <div th:text="Xiaohong"></div>
        <div class="pt-1 pb-1" th:text="${comment.content}"></div>
        <div class="text-secondary d-flex align-items-center small" >
          <span th:text="${comment.cTime}"></span>
          <button href="" class="btn btn-sm btn-link text-decoration-none ps-2 text-secondary"
                  data-bs-toggle="collapse" th:attr="data-bs-target='#comment-reply-' + ${comment.id}">回复</button>
        </div>
        <div th:id="'comment-reply-' + ${comment.id}" class="collapse">
          <form onsubmit="submitComment(event)">
            <div class="d-flex align-items-center">
              <div class="resizable flex-grow-1">
                <input type="text" name="content" class="form-control form-control-sm no-focus">
                <input type="hidden" name="postingId" th:value="${posting.id}">
                <input type="hidden" name="replyId" th:value="${comment.id}">
              </div>
              <div class="fixed-width text-white ps-3">
                <button type="submit" class="btn btn-sm btn-secondary">提 交</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </li>
</ul>