<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment :: head(~{::title},~{})">
  <title>Hello, world!</title>
</head>
<body class="d-flex flex-column min-vh-100">
<header th:replace="fragment :: header"></header>
<div class="container">
  <div class="modal fade" id="contents" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">

        <div class="modal-header">
          <h1 class="modal-title fs-5" id="label">创建目录</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body row" style="height: 700px;">
          <div class="col-6 border-end">
            <div class="pe-5">
              <ul class="nav nav-underline" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                          type="button" role="tab" aria-controls="home" aria-selected="true">
                    创建目录节点
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                          role="tab" aria-controls="profile" aria-selected="false">
                    在已创建的目录节点中选择
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                          role="tab" aria-controls="contact" aria-selected="false">
                    我创建的目录节点
                  </button>
                </li>
              </ul>

              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active py-3" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <form id="itemForm">
                    <label for="inputText" class="form-label">节点名称</label>
                    <input type="text" class="form-control" id="inputText" placeholder="">
                    <button type="submit" class="btn btn-outline-success mt-3">确定</button>
                  </form>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">这是个人资料内容
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">这是联系方式内容
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="ps-3">
              <ul id="itemList" class="list-group list-group-numbered list-group-flush "></ul>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <form action="#" th:action="@{/node/{id}/posting(id=${node.id})}" th:object="${newPosting}" method="post">
            <input type="hidden" class="" id="hiddenInput" th:field="*{content}">
            <input type="hidden" class="" id="nodeId" th:field="*{nodeId}">
            <input type="hidden" class="" id="path" th:value="${path}">
            <input type="hidden" class="" id="type1" name="type" value="1">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-outline-success" onclick="submitList()">提交审核</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="posting" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <form action="#" th:action="@{/node/{id}/posting(id=${node.id})}" th:object="${newPosting}" method="post">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">图文回答</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="courseDesc" class="form-label">在这里写</label>
              <input type="hidden" class="" id="type2" name="type" value="2">
              <input type="hidden" class="" th:field="*{nodeId}">
              <textarea class="form-control" id="courseDesc" th:field="*{content}" rows="20"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-outline-success">提交审核</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="top-alert" class="alert alert-warning custom-alert small" role="alert">
    <i class="bi bi-check-circle-fill me-2"></i>
    操作成功！页面即将刷新。
  </div>

  <div class="row align-items-start" style="padding-top:5.3em">
    <div class="col-9 pb-5">
      <div class="pb-2">
        <span class="fs-5"><i class="bi-book"></i> JAVA - 面试准备</span>
        <hr>
      </div>
      <div class="row align-items-start">

        <!------------------------------ left ------------------------------->

        <div class="col-3">
          <div class="d-flex justify-content-between">
            <ul class="nav nav-tabs flex-fill" id="myTab" role="tablist">
              <li th:each="item, iterStat: ${contents}" class="nav-item">
                <a class="nav-link" th:classappend="${iterStat.index} == 0 ? 'active' : ''" data-bs-toggle="tab" th:href="@{'#contentsTab'+${iterStat.index+1}}">
                  <span th:text="${iterStat.index + 1}" />
                </a>
              </li>
            </ul>

            <div class="border-bottom d-flex align-items-center">
              <a href="" class="fs-5 text-secondary me-2" ><i class="bi bi-plus-square"></i></a>
              <a href="" class="fs-5 text-secondary " ><i class="bi bi-dash-square"></i></a>
            </div>
          </div>

          <div class="tab-content mt-3">
            <div th:each="item, iterStat: ${contents}" th:id="'contentsTab' + ${iterStat.index+1}" class="tab-pane fade"  th:classappend="${iterStat.index} == 0 ? 'show active' : ''" >
              <div th:include="this::renderMap(${item}, 'c' + ${iterStat.index+1}, 0)"></div>
            </div>
          </div>

          <div th:fragment="renderMap(data, cid, index)">
            <ul class="list-unstyled" th:classappend="${index < 2 ? '' : 'ps-3'}">
              <li class="" th:if="${entry.key != '+' && entry.key != '^'}" th:each="entry: ${data != null ? data : {}}" th:with="cid= ${cid} + '-' + ${entry.key}">
                <div class="fw-normal" style="padding: 0.35em 0em;">

                  <a th:if="${index > 0}" class="link-dark link-offset-2 link-underline-light" th:href="'/node/' + ${entry.key} + '/posting?path='+ ${cid.substring(1)}" th:id="'link-' + ${cid}">
                    <span th:text="${contentsNames[T(java.lang.Integer).valueOf(entry.key)]}"></span>
                  </a>
                  <a th:if="${index == 0}" style="margin-left: -1.05rem;" class="link-dark link-offset-2 link-underline-light" th:href="'/node/' + ${entry.key} + '/posting?path='+ ${cid.substring(1)}" th:id="'link-' + ${cid}">
                    <span class="fw-bold fs-6" style="line-height: 2rem;"><i class="bi bi-three-dots-vertical"></i>课程根目录</span>
                  </a>
                  <a th:if="${index > 0 && utils.countChild(entry.value) > 0}" class="link-dark icon-link icon-link-hover ms-1"  data-bs-toggle="collapse" th:attr="data-bs-target='#'+ ${cid}" aria-expanded="true">
                    <i class="bi bi-caret-down-square fs-6"></i>
                  </a>
                  <div th:if="${entry.value.size() > 0}" th:id="${cid}" class="collapse pt-2" th:classappend="${index == 0 ? 'show' : ''}">
                    <div th:include="this::renderMap(${entry.value}, ${cid}, ${index + 1})"></div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <!------------------------------ main ------------------------------->

        <div class="col-9" style="padding-left: 2.0em">
          <div class="text-muted small mb-2">基础 <i class="bi bi-chevron-right"></i> 领域驱动 <i
              class="bi bi-chevron-right"></i> 建模 <i class="bi bi-chevron-right"></i></div>
          <div class="d-flex pb-4 justify-content-between align-items-center">
            <div>
              <h5 class="mt-2">详解DDD系列 第三讲 - Repository模式</h5>
            </div>
            <div class="">
              <button type="button" class="btn btn-success btn-sm ms-3" data-bs-toggle="modal"
                      data-bs-target="#contents">
                <i class="bi-plus"></i> 目录
              </button>
              <button type="button" class="btn btn-success btn-sm ms-3" data-bs-toggle="modal"
                      data-bs-target="#posting">
                <i class="bi-plus"></i> 文章
              </button>
            </div>
          </div>
          <div class="d-flex justify-content-between mt-0 mb-0 ">
            <!-- 左侧内容 -->
            <div class="small">
              201个提交
            </div>

            <!-- 右侧内容 -->
            <div class="small">
              <a href="" class="text-decoration-none text-muted fw-bold">全部</a> |
              <a href="" class="text-decoration-none text-muted">只看目录</a> |
              <a href="" class="text-decoration-none text-muted">只看解释</a> |
              <a href="" class="text-decoration-none text-muted fw-bold">默认排序</a> |
              <a href="" class="text-decoration-none text-muted">时间排序</a>
            </div>
          </div>

          <!----------- posting loop ----------->

          <div th:if="${chosenPosting != null}" th:include="this::renderPosting(${chosenPosting}, 1)"></div>
          <div th:if="${fixedPostings != null && fixedPostings.size() > 0}" th:include="this::renderPosting(${fixedPostings}, 2)"></div>
          <div id="otherPostings" th:if="${otherPostings!= null && otherPostings.size() > 0}" th:include="this::renderPosting(${otherPostings}, 3)"></div>

          <th:block th:fragment="renderPosting(postings, type)" th:if="false">
            <ul class="list-group list-group-flush" th:classappend="${type != 3} ? 'border-bottom' : ''">
              <li class="list-group-item px-0 py-3" th:each="posting,itStat : ${postings}">
                <div class="d-flex align-items-center pt-3">
                  <div class="col-1"><img src="/assets/common/img/icon/person-bounding-box.svg" width="36" height="36">
                  </div>
                  <div class="col-9 p2 small">
                    <a href="" class="text-decoration-none text-dark">一条小鲤鱼</a> <br/>
                    <span class="text-muted">2021-11-11 21:18:15</span>
                  </div>
                  <div class="col-2 text-end small">
                    <span th:if="${type == 1}" class="badge text-bg-danger">已设置为目录</span>
                    <span th:if="${type == 2}" class="badge text-bg-secondary">已置顶</span>
                    <br /> <br />
                  </div>
                </div>
                <div class="py-3 medium text-dark lh-lbase">
                  <div th:if="${posting.type == 1}">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item dash-border ps-0" th:each="item : ${#strings.arraySplit(posting.getContent(), ',')}">
                        <span th:text="${item}"></span>
                      </li>
                    </ul>
                  </div>
                  <div th:if="${posting.type == 2}">
                    <p class="" th:utext="${posting.content}">
                  </div>
                </div>
                <div class="d-flex align-items-center pb-3">
                  <button type="button" class="btn btn-sm py-1 px-3 me-3 rounded-3 fw-semibold"
                          th:classappend="${upvotedPostingIds.contains(posting.id) ? 'bg-danger text-white' : 'bg-light border border-dark-subtle '}"
                          th:onclick="'upvote(' + ${posting.id} + ')'">
                    <i class="bi-hand-thumbs-up me-2"></i><span th:id="'upvote-' + ${posting.id}" th:text="${posting.vote}"></span>
                  </button>
                  <span class="d-flex align-items-center ms-3 ms-2">
                    <i class="bi bi-chat text-muted"></i>

                    <button th:if="${posting.commentCount <= 0}" class="btn btn-sm btn-link text-decoration-none link-offset-2 ps-1 text-muted"
                            data-bs-toggle="collapse" th:attr="data-bs-target='#comment-' + ${posting.id}">添加评论</button>
                    <button th:if="${posting.commentCount > 0}" class="btn btn-sm btn-link text-decoration-none link-offset-2 ps-1 text-muted"
                            th:onclick="'loadComments(' + ${posting.id} + ')'" data-bs-toggle="collapse" th:attr="data-bs-target='#comment-' + ${posting.id}"
                            th:text="${posting.commentCount} + ' 条评论'"></button>
                  </span>
                  <form action="/contents" method="post" onsubmit="handleSubmit(event)">
                    <input type="hidden" name="postingId" th:value="${posting.id}">

                    <input th:if="${type==3 && posting.type == 1}" type="hidden" name="action" value="1">
                    <span th:if="${type==3 && posting.type == 1}" class="d-flex align-items-center ms-3">
                      <i class="bi bi-list-task"></i>
                      <button type="submit" class="btn btn-sm btn-link text-decoration-none link-offset-2 ps-1 py-1 px-2 rounded-3 text-muted">设置为目录</button>
                    </span>
                    <input th:if="${type==1}" type="hidden" name="action" value="2">
                    <span th:if="${type==1}" class="d-flex align-items-center ms-3">
                      <i class="bi bi-list-task"></i>
                      <button type="submit" class="btn btn-sm btn-link text-decoration-none link-offset-2 ps-1 py-1 px-2 rounded-3 text-muted">取消设置为目录</button>
                    </span>

                    <input th:if="${type==3 && posting.type == 2}" type="hidden" name="action" value="3">
                    <span th:if="${type==3 && posting.type == 2}" class="d-flex align-items-center ms-3">
                      <i class="bi bi-arrow-up-circle"></i>
                      <button type="submit" class="btn btn-sm btn-link text-decoration-none link-offset-2 ps-1 py-1 px-2 rounded-3 text-muted">置顶</button>
                    </span>
                    <input th:if="${type==2}" type="hidden" name="action" value="4">
                    <span th:if="${type==2}" class="d-flex align-items-center ms-3">
                      <i class="bi bi-arrow-up-circle"></i>
                      <button type="submit" class="btn btn-sm btn-link text-decoration-none link-offset-2 ps-1 py-1 px-2 rounded-3 text-muted">取消置顶</button>
                    </span>
                  </form>
                  </button>
                </div>

                <!-- comment -->
                <div th:id="'comment-' + ${posting.id}" class="collapse">
                  <form th:id="'comment-form-' + ${posting.id}" onsubmit="submitComment(event)">
                    <div class="d-flex align-items-center">
                      <div class="fixed-width">
                        <img src="/assets/common/img/icon/person-bounding-box.svg" width="34" height="34">
                      </div>
                      <div class="resizable flex-grow-1">
                        <input type="text" name="content" class="form-control no-focus ms-3 w-100">
                        <input type="hidden" name="postingId" th:value="${posting.id}">
                      </div>
                      <div class="fixed-width text-white ps-3">
                        <button type="submit" class="btn btn-sm btn-secondary ms-3">提 交</button>
                      </div>
                    </div>
                  </form>
                  <div style="border-left: 1px dashed #eee">
                    <div th:id="'comment-list-' + ${posting.id}" class="ps-3"></div>
                    <button class="btn btn-link text-decoration-none text-muted small">查看更多评论</button>
                  </div>
                </div>
              </li>
            </ul>
            <span id="lastId" style="display: none;" th:text="${lastId}"></span>
          </th:block>
        </div>
      </div>
    </div>

    <!------------------------------ right ------------------------------->

    <div class="col-3 ps-5 pt-3">
      <div class="card text-center shadow-ct">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="mt-5">
        <h6 class="px-3"> 相关课程 </h6>
        <nav class="nav small flex-column lh-1">
          <a class="nav-link active" aria-current="page" href="#">Active</a>
          <a class="nav-link" href="#">Link</a>
          <a class="nav-link" href="#">Link</a>
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </nav>
      </div>
    </div>

  </div>
</div>
<footer th:replace="fragment :: footer"></footer>
<script>
  // 获取表单和列表元素
  const itemForm = document.getElementById('itemForm');
  const inputText = document.getElementById('inputText');
  const itemList = document.getElementById('itemList');
  const hiddenInput = document.getElementById('hiddenInput');

  // 存储列表项的数组
  let items = [];

  // 监听表单提交事件
  itemForm.addEventListener('submit', function (e) {
    e.preventDefault();  // 阻止表单的默认提交行为

    const text = inputText.value.trim();
    if (text) {
      // 添加到数组和列表
      items.push(text);
      const li = document.createElement('li');
      li.className = 'list-group-item';
      li.textContent = text;
      itemList.appendChild(li);

      // 清空输入框
      inputText.value = '';
    }
  });

  // 提交整个列表
  function submitList() {
    //hiddenInput.value = JSON.stringify(items);  // 将数组转换为 JSON 字符串
    hiddenInput.value = JSON.stringify(items);  // 将数组转换为 JSON 字符串
    document.getElementById('submitForm').submit();  // 提交表单
  }

  function upvote(id, upvoteId) {
    fetch('/posting/'+ id + '/vote', {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: ""
    }).then(response => {
      if (!response.ok) {
        throw new Error("HTTP error " + response.status);
      }
      return response.json();
    }).then(data => {
      updateUpvote(id);
    }).catch(error => {
      console.error("Error:", error);
    });
  }

  function updateUpvote(id, upvoteId) {
    fetch('/posting/'+ id, {
      method: "GET",
      headers: {
        "Content-Type": "application/json"
      },
    }).then(response => {
      if (!response.ok) {
        throw new Error("HTTP error " + response.status);
      }
      return response.json();
    }).then(body => {
      const upvoteSpan = document.getElementById('upvote-' + id);
      const btn = upvoteSpan.parentElement;
      //alert(JSON.stringify(body));
      var count = body.data.upvoteCount;
      var upvoted = body.data.upvoted;
      if (upvoted) {
        btn.classList.remove("bg-light", "border", "border-dark-subtle");
        btn.classList.add("bg-danger", "text-white");
      } else {
        btn.classList.add("bg-light", "border", "border-dark-subtle");
        btn.classList.remove("bg-danger", "text-white");
      }
      upvoteSpan.innerText = count;
    }).catch(error => {
      console.error("Error:", error);
    });
  }

  document.addEventListener("DOMContentLoaded", function () {
    // 初始化 Sortable.js
    new Sortable(document.getElementById('itemList'), {
      animation: 150,  // 设置拖动时的动画效果
      ghostClass: 'sortable-ghost'  // 拖动时的占位样式
    });
  });

  // 页面加载时递归展开多级嵌套列表
  document.addEventListener('DOMContentLoaded', function () {
    //const hash = window.location.hash; // 获取 URL 中的锚点
    const urlParams = new URLSearchParams(window.location.search);
    const path = "c" + urlParams.get("path");

    if (path) {
      //const index = hash.substring(10, 11);
      const index = path.substring(1, 2);
      const tabTrigger = document.querySelector(`[href="#contentsTab${index}"]`);
      if (tabTrigger) {
        new bootstrap.Tab(tabTrigger).show();
      }

      let target = document.querySelector('#link-' + path); // 找到目标元素
      let current = document.querySelector('#' + path);
      if (current && current.classList.contains('collapse')) {
        current.classList.add('show');
      }
      while (target) {
        target.classList.remove("link-dark");
        target.classList.add("link-success", "fw-bold");

        if (target.classList.contains('collapse')) {
          target.classList.add('show');
        }
        target = target.parentElement.closest('.collapse');
      }
    }
  });

  function submitComment(event) {
    event.preventDefault(); // 阻止默认提交行为
    const form = event.target;
    const formData = new FormData(form);

    fetch('/comment', {
      method: 'POST',
      body: formData
    }).then(response => {
      if (!response.ok) {
        throw new Error(`HTTP error! Status: ${response.status}`);
      }
      return response.json(); // 假设服务器返回 JSON
      //return response.text(); // 假设服务器返回 JSON
    }).then(data => {
      // 弹出服务器响应
      //alert(`Response: ${JSON.stringify(data)}`);
      showAlert();
      //alert(data.data);
    }).catch(error => {
      alert(`Error: ${error.message}`);
    });
  }

  function loadComments(id) {
    fetch('/comment?postingId=' + id + '&offsetId=0').then(response => {
      if (!response.ok) {
        throw new Error(`HTTP error! Status: ${response.status}`);
      }
      return response.text(); // 假设服务器返回 JSON
    }).then(data => {
      const commentList = document.getElementById("comment-list-" + id);
      commentList.innerHTML = data;
      commentList.style.display = "block";
      //alert(data.data);
    }).catch(error => {
      alert(`Error: ${error.message}`);
    });
  }

  function handleSubmit(event) {
    event.preventDefault(); // 阻止默认提交行为
    console.log('Form submitted!');

    const form = event.target;
    const formData = new FormData(form);
    formData.append("nodeId", "[[${node.id}]]");
    formData.append("courseId", "[[${course.id}]]");
    formData.append("path", "[[${path}]]");

    fetch('/contents', {
      method: 'POST',
      body: formData
    }).then(response => {
      if (!response.ok) {
        throw new Error(`HTTP error! Status: ${response.status}`);
      }
      return response.json(); // 假设服务器返回 JSON
      //return response.text(); // 假设服务器返回 JSON
    }).then(data => {
      // 弹出服务器响应
      //alert(`Response: ${JSON.stringify(data)}`);
      showAlert();
      //alert(data.data);
    }).catch(error => {
      alert(`Error: ${error.message}`);
    });
  }

  function showAlert() {
    // 获取 Alert 元素
    const alertElement = document.getElementById('top-alert');
    // 显示 Alert
    alertElement.style.display = 'block';
    alertElement.classList.add('show');

    // 设置 1.5 秒后自动刷新页面
    setTimeout(() => {
      location.reload(); // 刷新页面
    }, 1500);
  }

  window.addEventListener("scroll", () => {
    const scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
    const scrollHeight = document.documentElement.scrollHeight || document.body.scrollHeight;
    const clientHeight = document.documentElement.clientHeight || window.innerHeight;

    if (scrollTop + clientHeight >= scrollHeight - 50) {
      loadMoreItems();
    }
  });

  let isLoading = false;
  let lastId = 0;
  let isEnd = false;

  function fetchListDataTest(page) {
    return new Promise((resolve) => {
      setTimeout(() => {
        const data = Array.from({ length: 10 }, (_, i) => `Item ${(page - 1) * 10 + i + 1}`);
        resolve(data);
      }, 1000); // 模拟1秒延迟
    });
  }

  async function fetchListData(url) {
    try {
      const response = await fetch(url);
      if (!response.ok) {
        throw new Error(`Network response was not ok: ${response.statusText}`);
      }

      const data = await response.text(); // 假设返回的数据是 JSON 格式
      return data; // 返回获取到的数据
    } catch (error) {
      console.error("Failed to fetch list data:", error);
      return null; // 返回 null 或处理错误逻辑
    }
  }

  var otherPostings = document.getElementById("otherPostings");
  async function loadMoreItems() {
    if (isLoading || isEnd) return;
    console.log("loading .. ")
    isLoading = true;

    var elements = document.querySelectorAll("#lastId"); // 获取所有具有相同 id 的元素
    lastId = elements[elements.length - 1].textContent;
    //loadingElement.style.display = "block";

    if (lastId == 0) {
      isEnd = true;
      return;
    }

    const data = await fetchListData("/node/[[${node.id}]]/posting/pullrefresh?courseId=[[${course.id}]]&lastId=" + lastId);
    otherPostings.innerHTML += data;

    isLoading = false;
    //loadingElement.style.display = "none";
  }

  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }

</script>
</body>
</html>