<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment :: head(~{::title},~{})">
  <title>Hello, world!</title>
</head>
<body class="d-flex flex-column min-vh-100">
  <header th:replace="fragment :: header"></header>
  <div class="container">
    <div class="d-flex align-items-center" style="padding-top:5.3em">
      <div class="flex-grow-1">
        <span class="fs-5"><i class="bi-list"></i> 课程列表</span>
      </div>
      <div>
        <span class="small text-muted">好好学习，天天向上</span>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4 my-2">
      <div class="col">
        <div class="card shadow-ct" style="width: 19rem;">
          <img src="/assets/common/img/java.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-title text-success">JAVA</h6>
            <p class="small card-text text-black-50">一种广泛使用的计算机编程语言，拥有跨平台、面向对象、泛型编程的特性，广泛应用于企业级Web应用开发和移动应用开发。任职于Sun微系统的詹姆斯·高斯林等人于1990年代初开发Java语言的雏形，最初被命名为Oak </p>
          </div>
          <div class="d-flex mx-3 mb-3 align-items-center">
            <div class="flex-grow-1">
             <span class="small text-muted pe-2"><i class="bi-file-text"></i> 20</span> 
             <span class="small text-muted pe-2"><i class="bi-person-fill"></i> 108</span>
           </div>
           <div class=""><button type="button" class="btn btn-outline-secondary btn-sm"><i class="bi-dash"></i> 移除</button></div>
         </div> 
       </div>
     </div>
     <div class="col">
      <div class="card shadow-ct" style="width: 19rem;">
        <img src="/assets/common/img/c++.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title text-success">Card title</h6>
          <p class="small card-text text-black-50">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="d-flex mx-3 mb-3 align-items-center">
          <div class="flex-grow-1">
           <span class="small text-muted pe-2"><i class="bi-file-text"></i> 20</span> 
           <span class="small text-muted pe-2"><i class="bi-person-fill"></i> 108</span>
         </div>
         <div class=""><button type="button" class="btn btn-outline-secondary btn-sm"><i class="bi-dash"></i> 移除</button></div>
       </div> 
     </div>
   </div>
   <div class="col">
    <div class="card shadow-ct" style="width: 19rem;">
      <img src="/assets/common/img/java.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h6 class="card-title text-success">Card title</h6>
        <p class="small card-text text-black-50">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="d-flex mx-3 mb-3 align-items-center">
        <div class="flex-grow-1">
         <span class="small text-muted pe-2"><i class="bi-file-text"></i> 20</span> 
         <span class="small text-muted pe-2"><i class="bi-person-fill"></i> 108</span>
       </div>
       <div class=""><button type="button" class="btn btn-outline-secondary btn-sm"><i class="bi-dash"></i> 移除</button></div>
     </div> 
   </div>
 </div>
</div>

<div class="row row-cols-1 row-cols-md-12 g-4 my-5">
  <nav aria-label="Page navigation example ">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

</div>
<footer th:replace="fragment :: footer"></footer>
</body>
</html>