@import './base.css';

#text {
  font-family: 'Arial', sans-serif;
}

#app {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(7, 137, 133);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    /*background-color: hsla(160, 100%, 37%, 0.2);*/
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
  }

  #app {
    padding: 0 0rem;
  }
}

::-webkit-scrollbar {
  width: 5px; /* 纵向滚动条宽度 */
  height: 5px; /* 横向滚动条高度 */
}

::-webkit-scrollbar-track {
  background: #ffffff; /* 滚动条轨道背景 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ddd; /* 滚动条颜色 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* 悬停时颜色 */
}

/* Firefox 滚动条 */
* {
  scrollbar-width: thin;
  scrollbar-color: #ddd #ffffff; /* 滚动条颜色 + 轨道颜色 */
}
